*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  Font-weight: bold;
  font-family:arial black;
  color: #848B79;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

h2{
  text-align: center;
  font-weight:bold;
  font-style:italic;
}
.Attributes{
  width: 700px;
  text-align: center;
  border-color: black;
  border-style: ridge;
  border-width: thick;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #848B79;
  font-family: arial black;
  z-index: 1;
  text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.Title {
  width: 100%;
  text-align: center;
  position: relative;
  border-style: solid;
  border-color: black;
    border-width: thick;
    border-radius: 10px;
  background: url("http://i345.photobucket.com/albums/p391/barninett/Bryce%20Canyon%20Picture_zpseu9kiz6d.jpg") no-repeat center center;
  color: #848B79;
  }
 
  .Experience {
    border-style: solid;
    border-width: thick;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.Education {
  border-style:solid;
  border-width:thick;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
    }

