*{
  box-sizing: border-box;
}
h1{
  text-align: center;
  Font-weight: bold;
}

h2{
  text-align: center;
  font-weight:bold;
  font-style:italic;
}
.Attributes{
  width: 700px;
  text-align: center;
  border-style: ridge;
  border-width: medium;
  border-radius: 10px;
  margin: auto;
}

.Title {
  width: 100%;
  text-align: center;
  position: relative;
  background:url("http://i345.photobucket.com/albums/p391/barninett/Bryce%20Canyon%20Picture_zpseu9kiz6d.jpg") no-repeat center center;
  }
 
  .Experience {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.Education {
  padding-left: 20px;
  padding-right: 20px;
    }
* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
